.intro {
    position: relative;
}

.wrapper{
    max-width: 1366px;
    height: 100%;
    margin: auto;
}

.intro-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.img {
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

.circle {
    width: 200px;
    height: 200px;
    background-color:#fef08a;
    border-radius: 50%;
}